.plot-container {
  margin-bottom: 200px;  
}
.text-container {
  margin-top: 200px;  
}

body {
  text-align: left;
  font-size: 18px; 
  line-height: 1.6;
}

/* General TOC Container */
#TOC {
  margin: 25px 0px 20px 0px;
  position: relative;
  top: 50px;
  left: 20px;
  width: 260px;
  max-width: 20%;
  max-height: 85%;
  overflow-y: auto;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Adjust TOC for Smaller Screens */
@media (max-width: 768px) {
  #TOC {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    max-width: none;
    padding: 15px;
  }
}

/* Print-Specific TOC Adjustments */
@media print {
  .toc-content {
    float: right;
  }
}

/* TOC Content Padding */
.toc-content {
  padding-left: 30px;
  padding-right: 40px;
}

/* Main Container Width */
div.main-container {
  max-width: 1200px;
}

/* Adjust TOC Widths for Responsive Layout */
div.tocify {
  width: 20%;
  max-width: 260px;
  max-height: 85%;
}

@media (min-width: 768px) and (max-width: 991px) {
  div.tocify {
    width: 25%;
  }
}

@media (max-width: 767px) {
  div.tocify {
    width: 100%;
    max-width: none;
  }
}

/* TOC List and Items */
.tocify ul, .tocify li {
  line-height: 20px;
  list-style: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.tocify-subheader .tocify-item {
  font-size: 0.90em;
}

.tocify .list-group-item {
  border-radius: 0px;
  padding: 5px 10px;
  text-decoration: none;
  color: #007bff;
}

.tocify .list-group-item:hover {
  text-decoration: underline;
  color: #0056b3;
}






